* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.flex {
  display: flex;
}

.center {
  justify-content: center;
}

.align {
  align-items: center;
}

.between {
  justify-content: space-between;
}

nav.navbar > div a {
  text-decoration: none;
  margin-right: 1rem;
}

nav.navbar > div button {
  padding: 10px 10px;
}

.link {
  margin-right: 1rem;
}

header.main {
  padding: 1rem 2rem;
}

header.main .cols {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 3rem;
}

.card img {
  width: 200px;
  height: 200px;
}

.card .card-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .card-main h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card .card-main div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card-main div button {
  padding: 0.3rem 0.8rem;
}

.cart {
  padding: 1rem 2rem;
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
}
.cart .cart-main {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

.cart .cart-main .image-title {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.cart .cart-main .image-title img {
  width: 100px;
  height: 100px;
}

.cart .cart-main .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart .cart-main .buttons button {
  padding: 0.3rem 0.7rem;
  cursor: pointer;
}

.cart .cart-main .buttons span {
  padding: 0rem 0.5rem;
}

.cart .cart-main .delete button {
  padding: 0.4rem 0.9rem;
  cursor: pointer;
}
